.main-category {
  width: 800px;
  background-color: white;
  /* border: 3px solid rgb(115, 165, 245); */
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 5px 0.5px rgb(115, 165, 245);
}

.main-category:hover {
  transform: translateY(-5px);
  transition-duration: 0.3s;
}
